<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406684001466-ljvera6qungmhpth106pag1p1mkivb1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406684001466-ljvera6qungmhpth106pag1p1mkivb1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDBFP_nHs0lwpex_L6uAKUfvBzOBYQxCoM</string>
	<key>GCM_SENDER_ID</key>
	<string>406684001466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appnotify</string>
	<key>PROJECT_ID</key>
	<string>appnotify-5023f</string>
	<key>STORAGE_BUCKET</key>
	<string>appnotify-5023f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406684001466:ios:5ccbe23b4f342a82164e83</string>
</dict>
</plist>